on:
  push:
    branches: [main]
    paths-ignore:
      - '.github/*'
      - 'package.json'
      - 'CHANGELOG.md'

jobs:
  # build:
  #   name: Build  
  #   runs-on: ubuntu-latest

  #   steps:
  #   - uses: actions/checkout@v2
  #     with:
  #       token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
  #   - name: Bump version and push tag
  #     uses: TriPSs/conventional-changelog-action@master
  #     with:
  #       github-token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
  #       git-message: 'chore(release): {version}'
  #       preset: 'angular'
  #       tag-prefix: ''
  #       output-file: 'CHANGELOG.md'

  test:
    name: Test
#    needs: build
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install dependencies
        run: npm install
      - name: Run headless test
        uses: GabrielBB/xvfb-action@v1.0
        with:
          run: npm test

  # publish:
  #   name: Release and publish
  #   needs: test
  #   runs-on: ubuntu-18.04
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #     - name: Setup Node.js
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: 14
  #     - name: Install dependencies
  #       run: npm install
  #     - name: Release
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
  #         NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  #       run: npx semantic-release
  #     # - name: Vscode release plugin
  #     #   uses: JCofman/vscodeaction@master
  #     #   env:
  #     #     PUBLISHER_TOKEN: ${{ secrets.PUBLISHER_TOKEN }}
  #     #   with:
  #     #     args: publish -p $PUBLISHER_TOKEN 
